.scoreboard {
  background-color: white;
  padding: 10px;
  margin: -10px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top:0;
  left: 45%;
}

p {
  padding:0;
  position: fixed;
  left: 42%;
  font-size: 18px;
}